/*raleway semi-bold*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
/*baloo 2 semi-bold*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

body {
    background-color: #181A1C;
    margin: 0;
}

a {
    text-decoration: none;
}

/*general*/

h1.heading {
    text-align: center;
    font-family: 'Baloo 2';
    font-size: /*50px*/3.307vw;
    color: #56ACFE;
    text-shadow: /*3px*/0.198vw /*3px*/0.198vw /*3px*/0.198vw black;
}

div.button {
    text-align: center;
    margin-bottom: /*80px*/5.291vw;
}

h1.button {
    display: inline;
    font-family: 'Raleway';
    font-size: /*30px*/1.984vw;
    color: #E3E5E9;
    background-color: #33363D;
    border-radius: /*40px*/2.646vw;
    padding-top: /*15px*/0.992vw;
    padding-bottom: /*15px*/0.992vw;
    padding-left: /*30px*/1.984vw;
    padding-right: /*30px*/1.984vw;
    margin-left: /*10px*/0.661vw;
    margin-right: /*10px*/0.661vw;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
    transition: 0.3s;
}

h1.button:hover {
    color: black;
    background-color: #FB312D;
}

/*header*/

header {
    text-align: center;
    background-color: #181A1C;
    padding: /*20px*/1.323vw;
    margin-bottom: /*50px*/3.307vw;
    box-shadow: 0 0 /*10px*/0.661vw /*3px*/0.198vw black;
}

div.top-menu {
    line-height: /*25px*/1.653vw;
    padding: /*15px*/0.992vw;
    margin-top: /*3px*/0.198vw;
    margin-right: /*180px*/11.905vw;
}

h1.top-menu {
    display: inline;
    font-family: 'Raleway';
    font-size: /*25px*/1.653vw;
    color: #AAADB1;
    margin-right: /*15px*/0.992vw;
    transition: 0.3s;
}

h1.top-menu:hover {
    color: #FB312D;
}

h1.menu-active {
    color: #FB312D;
}

img.top-logo {
    float: left;
    height: /*60px*/3.968vw;
}

/*footer*/

footer {
    text-align: center;
    background-color: #181A1C;
    padding: /*20px*/1.323vw;
    margin-top: /*50px*/3.307vw;
    box-shadow: 0 0 /*10px*/0.661vw /*3px*/0.198vw black;
}

div.bott-menu {
    padding: /*15px*/0.992vw;
}

h1.bott-menu {
    display: inline;
    font-family: 'Raleway';
    font-size: /*25px*/1.653vw;
    color: #AAADB1;
    margin-right: /*210px*/13.889vw;
    transition: 0.3s;
}

h1.bott-menu:hover {
    color: #FB312D;
}

img.bott-logo {
    float: left;
    height: /*60px*/3.968vw;
}

/*menu*/

a.menu-link {
    display: none;
}

h1.mobile-menu {
    display: none;
}

/*index*/

div.moreinfo {
    text-align: center;
    background-color: #33363D;
    font-family: 'Raleway';
    font-size: /*15px*/0.992vw;
    color: #E3E5E9;
    border: /*5px*/0.331vw solid #56ACFE;
    border-radius: /*10px*/0.661vw;
    margin-left: /*500px*/33.069vw;
    margin-right: /*500px*/33.069vw;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
    transition: 0.3s;
}

div.moreinfo:hover {
    color: #FB312D;
    padding-bottom: /*20px*/1.323vw;
}

h1#moreinfo {
    display: none;
    font-family: 'Raleway';
    font-size: /*20px*/1.323vw;
    color: #E3E5E9;
    margin-left: /*20px*/1.323vw;
    margin-right: /*20px*/1.323vw;
}

img.shop {
    float: left;
    border: /*5px*/0.331vw solid #56ACFE;
    border-radius: /*10px*/0.661vw;
    width: /*250px*/16.534vw;
    margin-top: /*30px*/1.984vw;
    margin-left: /*200px*/13.228vw;
    transform: rotate(-8deg);
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
}

img.oldshop {
    float: right;
    border: /*5px*/0.331vw solid #56ACFE;
    border-radius: /*10px*/0.661vw;
    width: /*250px*/16.534vw;
    margin-top: /*30px*/1.984vw;
    margin-right: /*200px*/13.228vw;
    transform: rotate(8deg);
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
}

img.logo {
    display: block;
    margin-top: /*60px*/3.968vw;
    margin-bottom: /*60px*/3.968vw;
    margin-left: auto;
    margin-right: auto;
    width: /*200px*/13.228vw;
}

img.all-sets {
    display: block;
    width: /*1000px*/66.138vw;
    margin-bottom: /*60px*/3.968vw;
    margin-left: auto;
    margin-right: auto;
}

div.news-container {
    display: table;
    border-spacing: /*50px*/3.307vw 0;
    margin: auto; /*centers divs*/
}

div.news {
    display: table-cell;
    overflow: hidden;
    background-color: #181A1C;
    border-radius: /*10px*/0.661vw;
    width: /*500px*/33.069vw;
    padding: /*30px*/1.984vw;
    padding-top: 0;
    padding-bottom: /*30px*/1.984vw;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
}

h1.news-heading {
    text-align: left;
    font-family: 'Baloo 2';
    font-size: /*45px*/2.976vw;
    color: #56ACFE;
    text-shadow: /*3px*/0.198vw /*3px*/0.198vw /*3px*/0.198vw black;
}

img.changes {
    border: /*5px*/0.331vw solid #56ACFE;
    border-radius: /*10px*/0.661vw;
    width: 100%;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
}

h1.list {
    text-align: left;
    font-family: 'Raleway';
    font-size: /*20px*/1.323vw;
    color: #E3E5E9;
    margin-bottom: /*30px*/1.984vw;
    margin-left: /*10px*/0.661vw;
    text-shadow: /*3px*/0.198vw /*3px*/0.198vw /*3px*/0.198vw black;
}

/*tutorial*/

div.lesson {
    overflow: hidden;
    background-color: #181A1C;
    border-radius: /*10px*/0.661vw;
    padding: /*35px*/2.315vw;
    margin-bottom: /*50px*/3.307vw;
    text-shadow: /*3px*/0.198vw /*3px*/0.198vw /*3px*/0.198vw black;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
}

img.preview {
    border: /*5px*/0.331vw solid #56ACFE;
    border-radius: /*10px*/0.661vw;
    width: /*500px*/33.069vw;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
}

img.item {
    vertical-align: middle;
    width: /*80px*/5.291vw;
}

h1.item-name {
    display: inline;
    vertical-align: middle;
    font-family: 'Baloo 2';
    font-size: /*50px*/3.307vw;
    margin-left: /*20px*/1.323vw;
}

h1.tip {
    font-family: 'Raleway';
    font-size: /*25px*/1.653vw;
    color: #E3E5E9;
    margin-top: /*25px*/1.653vw;
}

/*commands*/

div.category {
    text-align: left;
    font-family: 'Baloo 2';
    font-size: /*20px*/1.323vw;
    color: #56ACFE;
    margin-top: /*40px*/2.646vw;
    margin-left: /*150px*/9.921vw;
    text-shadow: /*3px*/0.198vw /*3px*/0.198vw /*3px*/0.198vw black;
}

h1.collapsible {
    text-align: left;
    font-family: 'Raleway';
    font-size: /*18px*/1.190vw;
    color: #E3E5E9;
    background-color: #33363D;
    border-radius: /*10px*/0.661vw;
    width: /*500px*/33.069vw;
    padding: /*15px*/0.992vw;
    margin-left: /*150px*/9.921vw;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
    transition: 0.3s;
}

h1.collapsible:hover {
    color: black;
    background-color: #FB312D;
    width: /*550px*/36.376vw;
}

h1.collapsible-active {
    display: inline-flex;
    color: black;
    background-color: #FB312D;
    width: /*550px*/36.376vw;
    margin-top: 0;
    margin-bottom: 0;
}
  
div.content {
    display: none;
    float: right;
    word-wrap: break-word;
    color: #E3E5E9;
    background-color: #181A1C;
    border-radius: /*10px*/0.661vw;
    padding: /*30px*/1.984vw;
    padding-top: /*8px*/0.529vw;
    margin-right: /*150px*/9.921vw;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
}

h1.desc {
    font-family: 'Raleway';
    font-size: /*18px*/1.190vw;
    margin-bottom: /*20px*/1.323vw;
}

img.demo {
    float: right; /*if both div and img float, then they will align*/
    border: /*5px*/0.331vw solid #56ACFE;
    border-radius: /*10px*/0.661vw;
    width: /*500px*/33.069vw;
    box-shadow: 0 0 /*5px*/0.331vw /*2px*/0.132vw black;
}
