/*raleway semi-bold*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
/*baloo 2 semi-bold*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

html, body {
    overflow-x: hidden;
    position: relative;
}

body {
    background-color: #181A1C;
    margin: 0;
}

a {
    text-decoration: none;
}

/*general*/

h1.heading {
    text-align: center;
    font-family: 'Baloo 2';
    font-size: /*30px*/7.692vw;
    color: #56ACFE;
    text-shadow: /*2px*/0.513vw /*2px*/0.513vw /*2px*/0.513vw black;
}

div.button {
    text-align: center;
    margin-bottom: /*50px*/12.821vw;
}

h1.button {
    display: inline;
    font-family: 'Raleway';
    font-size: /*20px*/5.128vw;
    color: #E3E5E9;
    background-color: #33363D;
    border-radius: /*25px*/6.410vw;
    padding-top: /*10px*/2.564vw;
    padding-bottom: /*10px*/2.564vw;
    padding-left: /*20px*/5.128vw;
    padding-right: /*20px*/5.128vw;
    margin-left: /*5px*/1.282vw;
    margin-right: /*5px*/1.282vw;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

h1.button:hover {
    color: black;
    background-color: #FB312D;
}

/*header*/

header {
    background-color: #181A1C;
    padding: /*10px*/2.564vw;
    margin-bottom: /*30px*/7.692vw;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

div.top-menu {
    margin-top: /*3px*/0.769vw;
    padding: /*10px*/2.564vw;
}

h1.top-menu {
    display: none;
}

img.top-logo {
    float: left;
    height: /*35px*/8.974vw;
    margin-top: /*8px*/2.051vw;
}

/*footer*/

footer {
    background-color: #181A1C;
    padding: /*10px*/2.564vw;
    margin-top: /*30px*/7.692vw;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

div.bott-menu {
    padding: /*10px*/2.564vw;
    margin-bottom: /*3px*/0.769vw;
}

h1.bott-menu {
    display: inline;
    font-family: 'Raleway';
    font-size: /*20px*/5.128vw;
    color: #AAADB1;
    margin-left: /*85px*/21.795vw;
}

h1.bott-menu:hover {
    color: #FB312D;
}

img.bott-logo {
    float: left;
    height: /*35px*/8.974vw;
    margin-top: /*8px*/2.051vw;
}

/*mobile menu*/

h1.menu-icon {
    display: inline;
    font-family: 'Raleway';
    font-size: /*20px*/5.128vw;
    color: #AAADB1;
    margin-left: /*150px*/38.462vw;
}

h1.menu-icon:hover {
    color: #FB312D;
}

div.menu {
    text-align: center;
    margin-top: /*40px*/10.256vw;
}

h1.menu {
    font-family: 'Raleway';
    font-size: /*25px*/6.410vw;
    color: #AAADB1;
}

h1.menu:hover {
    color: #FB312D;
}

/*index*/

div.moreinfo {
    text-align: center;
    font-family: 'Raleway';
    font-size: /*10px*/2.564vw;
    color: #E3E5E9;
    background-color: #33363D;
    border: /*3px*/0.769vw solid #56ACFE;
    border-radius: /*8px*/2.051vw;
    width: /*360px*/92.308vw;
    margin-bottom: /*30px*/7.692vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
    transition: 0.3s;
}

div.moreinfo:hover {
    color: #FB312D;
    padding-bottom: /*20px*/5.128vw;
}

h1#moreinfo {
    display: none;
    font-family: 'Raleway';
    font-size: /*15px*/3.846vw;
    color: #E3E5E9;
    margin-left: /*20px*/5.128vw;
    margin-right: /*20px*/5.128vw;
}

img.shop {
    display: none;
}

img.oldshop {
    display: none;
}

img.logo {
    display: block;
    margin-top: /*20px*/5.128vw;
    margin-bottom: /*40px*/10.256vw;
    margin-left: auto;
    margin-right: auto;
    width: /*100px*/25.641vw;
}

img.all-sets {
    display: block;
    width: /*360px*/92.308vw;
    margin-bottom: /*40px*/10.256vw;
    margin-left: auto;
    margin-right: auto;
}

div.news {
    background-color: #181A1C;
    border-radius: /*8px*/2.051vw;
    width: /*360px*/92.308vw;
    padding: /*10px*/2.564vw;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

h1.news-heading {
    text-align: left;
    font-family: 'Baloo 2';
    font-size: /*30px*/7.692vw;
    color: #56ACFE;
    padding-top: /*20px*/5.128vw;
    margin-left: /*5px*/1.282vw;
    text-shadow: /*2px*/0.513vw /*2px*/0.513vw /*2px*/0.513vw black;
}

img.changes {
    border: /*3px*/0.769vw solid #56ACFE;
    border-radius: /*8px*/2.051vw;
    width: 100%;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

h1.list {
    text-align: left;
    font-family: 'Raleway';
    font-size: /*15px*/3.846vw;
    color: #E3E5E9;
    margin-bottom: /*30px*/7.692vw;
    margin-left: /*10px*/2.564vw;
    text-shadow: /*2px*/0.513vw /*2px*/0.513vw /*2px*/0.513vw black;
}

/*tutorial*/

div.lesson {
    background-color: #181A1C;
    border-radius: /*8px*/2.051vw;
    width: /*360px*/92.308vw;
    padding: /*10px*/2.564vw;
    margin-bottom: /*30px*/7.692vw;
    margin-left: auto;
    margin-right: auto;
    text-shadow: /*2px*/0.513vw /*2px*/0.513vw /*2px*/0.513vw black;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

img.preview {
    border: /*3px*/0.769vw solid #56ACFE;
    border-radius: /*8px*/2.051vw;
    width: 100%;
    margin-bottom: /*15px*/3.846vw;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

img.item {
    vertical-align: middle;
    width: /*40px*/10.256vw;
    margin-left: /*10px*/2.564vw;
}

h1.item-name {
    display: inline;
    vertical-align: middle;
    font-family: 'Baloo 2';
    font-size: /*30px*/7.692vw;
}

h1.tip {
    font-family: 'Raleway';
    font-size: /*15px*/3.846vw;
    color: #E3E5E9;
    margin-top: /*15px*/3.846vw;
    margin-left: /*10px*/2.564vw;
}

/*commands*/

div.category {
    text-align: center;
    font-family: 'Baloo 2';
    font-size: /*15px*/3.846vw;
    color: #56ACFE;
    margin-top: /*30px*/7.692vw;
    text-shadow: /*2px*/0.513vw /*2px*/0.513vw /*2px*/0.513vw black;
}

h1.collapsible {
    text-align: left;
    font-family: 'Raleway';
    font-size: /*15px*/3.846vw;
    color: #E3E5E9;
    background-color: #33363D;
    border-radius: /*8px*/2.051vw;
    width: /*360px*/92.308vw;
    padding: /*10px*/2.564vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

h1.collapsible-active {
    color: black;
    background-color: #FB312D;
}
  
div.content {
    display: none;
    float: inline;
    color: #E3E5E9;
    background-color: #181A1C;
    border-radius: /*8px*/2.051vw;
    width: /*360px*/92.308vw;
    padding: /*10px*/2.564vw;
    padding-top: /*5px*/1.282vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}

h1.desc {
    font-family: 'Raleway';
    font-size: /*15px*/3.846vw;
    margin-bottom: /*15px*/3.846vw;
}

img.demo {
    float: inline; /*if both div and img float, then they will align*/
    border: /*3px*/0.769vw solid #56ACFE;
    border-radius: /*8px*/2.051vw;
    width: 100%;
    box-shadow: 0 0 /*4px*/1.026vw /*1px*/0.256vw black;
}
