/*raleway semi-bold*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
/*chelsea market*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
    margin: 0;
}

header {
    background-color: grey;
    padding: 15px;
}

.logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    padding-left: 60px;
    padding-right: 40px;
}

.menu {
    /*position: relative;*/
    /*right: -50px;*/
    /*color: black;
    font-family: 'Raleway';
    display: inline;
    margin: 40px;*/
}

.menu:hover {
    color: #FB0014;
    transition: 0.3s;
}

h1 {
    display: inline;
}

h1.active {
    color: #FB0014;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    display: inline;
    margin: 40px;
}

a.active {
    color: #FB0014;
}
