/*raleway semi-bold*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
/*chelsea market*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
    margin: 0;
    background-color: black;
}

header {
    background-color: #181A1C;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    line-height: 60px; /*logo is centered if line-height and logo dimensions are the same*/
}

h1 {
    display: inline;
}

img.logo {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    float: left;
}

a.menu {
    text-decoration: none;
    color: #E3E5E9;
    font-size: 80%;
    font-family: 'Raleway';
    display: inline;
    margin-right: 40px;
    margin-top: 30px;
}

a.menu:hover {
    color: #FEBE54;
    transition: 0.3s;
}

a.menu-active {
    color: #FEBE54;
}

.glow {
    font-size: 30;
    color: blue;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}
